<!-- <div class="d-flex h-100 text-center text-dark cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
<footer class="mt-auto text-dark-50">
    <p>Blood Donation Camp for <a href="/" class="text-dark">Graphic Era</a>, by <a href="https://singhanubhav.me" class="text-dark">Anubhav Singh</a>.</p>
  </footer></div> -->
  

</body>
</html>