<%- include("partials/header.ejs") -%>
<title>Admin</title>
</head>
<body class="text-center">
<%- include("partials/navbar.ejs") -%>
<h1 class="pt-3">Admin Page</h1>



<%- include("partials/footer.ejs") -%>
