<%- include("partials/header.ejs") -%>

    <title>Home</title>
</head>
<body>
<%- include("partials/navbar.ejs") -%>
<h1>Home</h1>


    <form action="/logout" method="post">
        <button>Logout</button>
    </form>
<%- include("partials/footer.ejs") -%>
