<%- include("partials/header.ejs") -%>
</head>
<body>
<%- include("partials/navbar.ejs") -%>
<h1>Patient Page</h1>
<form action="/emergency" method="post">
    <label for="bloodGroup">What Blood Group is Required ? </label>
    <input type="text" name="bloodGroup" id="bloodGroup">
    <label for="reason">What is the reason for the blood ? (brief)</label>
    <input type="text" name="reason" id="reason">
    <button>Emergency</button>
</form>
<%- include("partials/footer.ejs") -%>
