<%- include("partials/header.ejs") -%>

    <title>Secret</title>
</head>
<body>
    <h1>Secret Page</h1>
    <form action="/logout" method="post">
        <button>Logout</button>
    </form>
<%- include("partials/footer.ejs") -%>
